body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}

.nav-links a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Dropdown Menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Content Section */
.content {
    width: 100%;
    height: min-content;
    display: flex;
}

.content iframe{
    height: 120vh;
    width: 100%;
    margin-top : -10%;
}

@media screen and (max-width : 945px){
    .content iframe{
        margin-top : -15%;
    }
}
@media screen and (max-width : 645px){
    .content iframe{
        margin-top : -25%;
    }
}
