{% extends "content.html" %}

{% block content %}
<div class="main">
    <div class="submain" id="languages">
            <div class="container_row1">
                {% for language in languages %}
                <div class="container">
                        <div class="container">
                            <div class="card">
                                <div class="front_python" style="background-image: url(/static/Supports/Language/{{language}}.png); background-size : contain;background-position : center; background-repeat : no-repeat;"></div>
                                <div class="back_python">
                                    <a href="Quiz/{{language}}">{{language}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="container_row1">
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}